/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-family: "Merriweather", serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 5rem;
}

h3 {
        font-weight: lighter;
        font-size: 3rem;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease;
}

a:hover {
    color: #dba136;
    transition: all 300ms ease;
    cursor: pointer;
}

select {
    background-color: rgb(0, 0, 0);
    color: #dba136;
    border: 2px solid #dba136;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.fa-solid {
    color: #dba136;
}

.underline {
    text-decoration: underline;
}

.button {
    background-color: #dba136;
    color: white;
    padding: 2rem 4rem;
    border-radius: 10px;
    border: 2px solid #dba136;

    &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #dba136;
        cursor: pointer;
    }

    & i {
        color: inherit;
    }
}

.button.alternate {
    background-color: black;
    border: 2px solid black;

    &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: black;
        
    }
}

.hidden {
    display: none;
}

/***********************************************
*** HEADER
************************************************/

header {
    position: absolute;
    width: 100%;
    color: white;
    height: 8dvh;
    font-size: 1.7rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div {
    width: 30%;
}

div.empty {
    height: 5px;
    width: 35%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

header ul {
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 0 3vw;
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    border-right: solid 1px rgba(255, 255, 255, 0.6);
}

/***********************************************
*** MAIN
************************************************/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/header.jpg);
    background-size: cover;
    background-position: center 70%;
    background-attachment: fixed;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

/***********************************************
*** SECTION 1: EXPERIENCES
************************************************/

#experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8dvh 5dvw ;
}

#experiences h2, #experiences h3 {
    margin-bottom: 2rem;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.service {
    width: 30%;
}

.service-img {
    height: 30dvh;
    width: 100%;
}

.service-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***********************************************
*** SECTION 2: DAILY DINING
************************************************/
#daily-dining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60dvh;
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5dvh;
    gap: 2rem;
}

.checks {
    flex-direction: column;
    font-size: 4rem;
    gap: 1rem;
    font-weight: lighter;
}

/***********************************************
*** SECTION 3: Gallery
************************************************/
.gallery-container {
    display: flex;
    gap: 1vw;
    height: 25vw;
    width: 100vw;
    overflow-x: scroll;
    align-items: center;
}

.gallery-item {
    height: 20vw;
    width: 20vw;
    flex-shrink: 0;
}

.gallery-item > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gallery-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***********************************************
*** SECTION 4: REVIEWS
************************************************/

#reviews {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i.fa-circle-user {
    color: white;
    font-size: 3rem;
}

.review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.review-box {
    width: 30%;
    display: flex;
    flex-direction: column;
}

/***********************************************
*** SECTION 5: CHEF
************************************************/

#chef {
    display: flex;
    width: 100dvw;
}

.chef-image {
    width: 30%;
    height: auto;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/***********************************************
*** SECTION 6: CONTACT
************************************************/


/***********************************************
*** SUBPAGE: MENU
************************************************/

.subpage-menu {
    background-color: black;
    color: white;

    main {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/mae-mu-Pvclb-iHHYY-unsplash.jpg); */
        background-image: url(images/mae-mu-Pvclb-iHHYY-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        padding: 0 10dvw;
    }

    div.menu-main {
        width: 33%;
    }

    p.menu-main {
        font-size: 3rem;
        text-align: center;
        line-height: 6rem;
        font-weight: 300;
    }

    h1 {
        font-family: "Rouge Script", cursive, serif;
        color: #dba136;
        font-size: 10rem;
    }

    #meal-prep {
        background-image: url(images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg);
        background-size: 100dvw;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5dvh 5dvw;
        text-align: right;
        font-weight: 600;
        color: black;
    }

    #private-events {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/lidye-1Shk_PkNkNw-unsplash.jpg);
        background-size: 100dvw;
        background-attachment: fixed;
        background-position: bottom right;
        padding: 5dvh 5dvw;
        font-weight: 600;
    }
}

/***********************************************
*** SUBPAGE: PRICING
************************************************/
.subpage-pricing {
    background-color: black;
    color: white;

    main {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/pricing-bg.jpg); */
        background-image: url(images/carolina-cossio-2J0NkF2cFlI-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    h2 {
        font-size: 2rem;
    }

    hr {
        color: #dba136;
    }
}