/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-family: "Merriweather", serif;
    width: 100dvw;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 4.5rem;
}

h3 {
        font-weight: lighter;
        font-size: 3rem;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease;
}

a:hover {
    color: #dba136;
    transition: all 300ms ease;
    cursor: pointer;
}

select {
    background-color: rgb(0, 0, 0);
    color: #dba136;
    border: 2px solid #dba136;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 1dvh;
}

.fa-solid {
    color: #dba136;
}

.underline {
    text-decoration: underline;
}

.button {
    background-color: #dba136;
    color: white;
    padding: 2rem 4rem;
    border-radius: 10px;
    border: 2px solid #dba136;
    font-size: 1em;
    transition: all 300ms ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #dba136;
        cursor: pointer;
    }

    & i {
        color: inherit;
    }
}

.button.alternate {
    background-color: black;
    border: 2px solid black;

    &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: black;
        
    }
}

.hidden {
    display: none;
}

/***********************************************
*** HEADER
************************************************/

header {
    position: absolute;
    width: 100%;
    color: white;
    height: 8dvh;
    font-size: 1.7rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div {
    width: 30%;
}

.empty {
    height: 5px;
    width: 35%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

header ul {
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 0 3vw;
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    border-right: solid 1px rgba(255, 255, 255, 0.6);
}

/***********************************************
*** MAIN
************************************************/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/header.jpg);
    background-size: cover;
    background-position: center 70%;
    background-attachment: fixed;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
    width: 45dvw;
    padding-top: 2dvh;

    img {
        width: 100%;
    }
}


/***********************************************
*** SECTION 1: EXPERIENCES
************************************************/

#experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8dvh 5dvw ;
}

#experiences h2, #experiences h3 {
    margin-bottom: 2rem;
}

.services {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3%;
}

.service {
    width: 30%;
}

.service-img {
    height: 30dvh;
    width: 100%;
    margin-bottom: 2rem;
}

.service-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***********************************************
*** SECTION 2: DAILY DINING
************************************************/
#daily-dining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10dvh 0;
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5dvh;
    gap: 2rem;
}

.checks {
    flex-direction: column;
    font-size: 3rem;
    gap: 1rem;
    font-weight: lighter;
}

h2.dd-title {
    font-size: 4rem;
}

h3.dd-title {
    font-size: 3.5rem;
}

/***********************************************
*** SECTION 3: Gallery
************************************************/

#gallery {
    padding: 8vh 0;
}

.gallery-container {
    display: flex;
    gap: 1vw;
    height: 25vw;
    width: 100vw;
    overflow-x: auto;
    align-items: center;
    margin-bottom: 4rem;
    scrollbar-width: none;
    scrollbar-color: white;
}

.gallery-item {
    height: 20vw;
    width: 20vw;
    flex-shrink: 0;
}

.gallery-item > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gallery-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***********************************************
*** SECTION 4: REVIEWS
************************************************/

#reviews {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8dvh 5dvw;
}

i.fa-circle-user {
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 3rem;
}

.review-box {
    width: 25%;
    display: flex;
    flex-direction: column;
}

/***********************************************
*** SECTION 5: CHEF
************************************************/

#chef {
    display: flex;
    width: 100dvw;
}

.chef-image {
    width: 35%;
    height: auto;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.chef-image-alt {
    display: none;
}

.social {
    padding: 8dvh 5dvw;
    width: 65%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(images/anh-nguyen-kcA-c3f_3FE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chef p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

strong.tagline {
    font-size: 3rem;
}

/***********************************************
*** SECTION 6: CONTACT
************************************************/

#contact {
    background-color: black;
    color: white;
    padding: 8dvh 5dvw;
}

p.contact {
    text-align: center;
}

.contact-container {
    display: flex;
}

.form {
    width: 78%;
    margin-right: 3dvw;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    width: 100%;
}

div.city {
    margin-right: 2%;
}

div.city, div.phone {
    width: 49%;
}

.textbox {
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 1rem;

    &:focus {
        outline: #dba136 solid 2px;
    }
}

.socials {
    width: 20%;
    border-left: solid 1px white;
    padding-left: 3dvw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socials hr {
    width: 100%;
}

h5 {
    font-size: 1em;
    text-align: left;
}

/***********************************************
*** FOOTER
************************************************/

footer {
    background-color: black;
    color: white;
    padding: 2dvh 2dvw;
}

footer ul {
    display: flex;
    justify-content: space-between;
}

/* Subpages */



.subpage-pricing footer, .subpage-menu footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}


/***********************************************
*** SUBPAGE: MENU
************************************************/

.subpage-menu {
    background-color: black;
    color: white;

    main {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/mae-mu-Pvclb-iHHYY-unsplash.jpg); */
        background-image: url(images/mae-mu-Pvclb-iHHYY-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        padding: 0 10dvw;
    }

    div.menu-main {
        width: 33%;
    }
    div.menu-main.empty {
        border: none;
    }

    p.menu-main {
        font-size: 3rem;
        text-align: center;
        line-height: 6rem;
        font-weight: 300;
    }

    h1 {
        font-family: "Rouge Script", cursive, serif;
        color: #dba136;
        font-size: 10rem;
    }

    #meal-prep {
        background-image: url(images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5dvh 5dvw;
        text-align: right;
        font-weight: 600;
        color: black;
    }

    #meal-prep h3 {
        text-align: right;
    }

    #private-events {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/lidye-1Shk_PkNkNw-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom right;
        padding: 5dvh 5dvw;
        font-weight: 600;
    }

    #private-events h2, h3, h4 {
        text-align: left;
    }

    h4 {
        font-size: 1.5em;
    }

    hr {
        color: inherit;
    }
    
    #private-events p {
        font-weight: 300;
    }
}

/***********************************************
*** SUBPAGE: PRICING
************************************************/
.subpage-pricing {
    background-color: black;
    color: white;

    main {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/pricing-bg.jpg); */
        background-image: url(images/carolina-cossio-2J0NkF2cFlI-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    h2, h3 {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    hr {
        color: #dba136;
    }

    .empty-price {
        border: none;
        width: 10%;
    }

    .price-button {
        margin-bottom: 2dvh;
    }

    .service-space {
        margin-bottom: 1dvh;
    }
}

/***********************************************
*** MOBILE LAYOUT
************************************************/

@media (max-width:1180px) {
    /***** HEADER *****/
    div.empty, nav ul {
        border: none;
    }

    div.empty {
        width: 0;
        display: none;
    }

    div.not-empty {
        width: 100%;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
    }

    /***** MAIN *****/
    h1.logo {
        height: auto;
        width: 70%;
        margin: 0;
    }

    /***** SECTION 1: EXPERIENCES *****/

    div.services {
        flex-direction: column;
    }

    div.service {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4dvh;
    }

    h4.service-name {
        font-size: 2rem;
    }

    p.service-desc {
        width: 60%;
    }

    /***** SECTION 2: DAILY DINING *****/
    h2.dd-title {
        font-size: 3rem;
    }

    h3.dd-title {
        font-size: 2.5rem;
    }

    ul.checks {
        font-size: 2rem;
    }

    /***** SECTION 3: Gallery *****/

    div.gallery-container {
        height: 40dvh;
        margin: 5dvh 0;
    }

    div.gallery-item {
        height: 100%;
        width: 40dvh;
    }

    div.gallery-buttons {
        flex-direction: column;
        gap: 5dvh;
    }

    /***** SECTION 4: Reviews *****/

    section#reviews {
        padding: 8dvh 20dvw;
    }

    div.review-container {
        flex-direction: column;
    }

    div.review-box {
        width: 100%;
        align-items: center;
    }
    
    p.review-desc {
        width: 100%;
    }

    /***** SECTION 5: Chef *****/

    section#chef {
        flex-direction: column-reverse;
    }

    div.social {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #chef .social > * {
        margin: 2dvh 0;
    }

    div.chef-image {
        display: none;
    }

    div.chef-image-alt {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;

        & img {
            width: 100%;
            height: auto;
        }
    }

    /***** SECTION 6: Contact *****/

    .contact-container {
        flex-direction: column;
    }

    div.form, div.socials {
        width: 100%;
    }

    /***** Footer *****/
    footer ul {
        font-size: 1rem;
        flex-direction: column;
        gap: .5rem;
    }

    /***** SUBPAGE: Menu *****/

    .subpage-menu {
        /* MAIN */
        main {
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/mae-mu-Pvclb-iHHYY-unsplash.jpg);
            background-position: bottom;
            flex-direction: column;
            gap: 8dvh;
        }

        p.menu-main {
            font-size: 2rem;
            line-height: 2em;
        }

        div.menu-main {
            width: 100%;
        }

        #meal-prep, #private-events {
            background-size: cover;
        }

        section#private-events {
            background-position:  50%;
        }

    }

    /***** SUBPAGE: Pricing *****/

    .subpage-pricing {
        main {
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/carolina-cossio-2J0NkF2cFlI-unsplash.jpg);
            background-size: cover;
            background-position: top;
            padding: 0 10dvw;
            
        }

        h2, h3 {
            text-align: center;
        }
    }

    .price-box {
        width: 100%;
        text-align: center;
    }
}