/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.6em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease;
}

a:hover {
    color: #dba136;
    transition: all 300ms ease;
}

/***********************************************
*** HEADER
************************************************/