/***********************************************
*** GENERAL STYLING
************************************************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.6em;
    font-family: "Merriweather", serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 5rem;
}

h3 {
        font-weight: lighter;
        font-size: 3rem;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms ease;
}

a:hover {
    color: #dba136;
    transition: all 300ms ease;
}

.fa-solid {
    color: #dba136;
}

.underline {
    text-decoration: underline;
}

/***********************************************
*** HEADER
************************************************/

header {
    position: absolute;
    width: 100%;
    color: white;
    height: 8dvh;
    font-size: 1.7rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div {
    width: 30%;
}

div.empty {
    height: 5px;
    width: 35%;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

header ul {
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 0 3vw;
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    border-right: solid 1px rgba(255, 255, 255, 0.6);
}

/***********************************************
*** MAIN
************************************************/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/header.jpg);
    background-size: cover;
    background-position: center 70%;
    background-attachment: fixed;
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

/***********************************************
*** SECTION 1: DAILY DINING
************************************************/
#daily-dining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #130d0d;
    color: white;
    height: 60dvh;
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5dvh;
    gap: 2rem;
}

.checks {
    flex-direction: column;
    font-size: 4rem;
    gap: 1rem;
    font-weight: lighter;
}